:root {
  // info
  --color-info-100: #73a5ff;
  --color-info-300: #4c8dff;
  --color-info-500: rgb(7, 48, 93);
  --color-info-700: rgba(15, 29, 69, 0.6);
  --color-info-900: rgb(15, 29, 69);

  // light
  --color-light-100: rgb(255, 255, 255);
  --color-light-300: #f9f7ff;
  --color-light-500: #f4f2fa;
  --color-light-700: rgba(255, 255, 255, 0.8);
  --color-light-900: #c3c1c7;

  // dark
  --color-dark-100: rgba(255, 255, 255, 0.5);
  --color-dark-300: #4c4c4c;
  --color-dark-500: #333;
  --color-dark-700: #171717;
  --color-dark-900: #000;
}
