:root {
  // info
  --color-info-500: rgb(7, 48, 93);
  --color-info-700: rgba(15, 29, 69, 0.6);
  --color-info-900: rgb(15, 29, 69);

  // light
  --color-light-100: rgb(255, 255, 255);
  --color-light-700: rgba(255, 255, 255, 0.8);

  // dark
  --color-dark-100: rgba(255, 255, 255, 0.5);
}
